<div class="cart-container">
  <header class="cart-header">
    <button class="btn-back" (click)="onContinueShopping()">
      Continuar comprando
    </button>
  </header>

  <main class="cart-content">
    <div class="cart-products">
      <div class="cart-products-header">
        <span class="status-all">Todos os produtos</span>
      </div>

      <div class="product-list">
        <div *ngFor="let item of cartItems" class="cart-item">
          <div class="item-left">
            <img
              [src]="item.product.image"
              [alt]="item.product.name"
              class="item-image"
            />
            <div class="item-details">
              <div class="item-header">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-trash preview-icon trash-icon"
                  (click)="removeItem(item.product.id)"
                >
                  <path d="M10 11v6" />
                  <path d="M14 11v6" />
                  <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6" />
                  <path d="M3 6h18" />
                  <path d="M8 6V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2" />
                </svg>
                <h4 class="item-name">{{ item.product.name }}</h4>
              </div>
              <div class="item-quantity">
                <button
                  class="qty-btn"
                  [disabled]="item.quantity <= 1"
                  (click)="updateQuantity(item.product.id, -1)"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="18"
                    height="18"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-circle-minus preview-icon"
                  >
                    <circle cx="12" cy="12" r="10" />
                    <path d="M8 12h8" />
                  </svg>
                </button>
                <span class="qty-count">{{ item.quantity }}</span>
                <button
                  class="qty-btn"
                  (click)="updateQuantity(item.product.id, 1)"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="18"
                    height="18"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-circle-plus preview-icon"
                  >
                    <circle cx="12" cy="12" r="10" />
                    <path d="M8 12h8" />
                    <path d="M12 8v8" />
                  </svg>
                </button>
              </div>
            </div>
            <div class="item-right">
              <div class="item-price-info">
                <span class="item-old-price">R$ {{ item.product.price }}</span>
                <span class="item-current-price"
                  >R$
                  {{ (item.product.price * item.quantity).toFixed(2) }}</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="cart-summary">
      <h3>Resumo da compra</h3>
      <div class="summary-item">
        <span>Produto</span>
        <span>R$ {{ totalPrice }}</span>
      </div>
      <div class="summary-item">
        <span>Desconto de produtos</span>
        <span class="discount">- R$ 0,00</span>
      </div>
      <div class="summary-item">
        <span>Frete</span>
        <span class="free-shipping">Grátis</span>
      </div>
      <hr />
      <div class="summary-total">
        <span>Total</span>
        <span>R$ {{ totalPrice }}</span>
      </div>
      <button class="btn-confirm">Confirmar</button>
    </div>
  </main>
</div>
