<div class="product-card">
  <div class="image-container" (click)="openModal()">
    <img [src]="product.imageUrl" [alt]="product.name" />
  </div>
  <div class="product-info">
    <h3>{{ product.name }}</h3>
    <p class="price">{{ product.price | currency: "BRL" }}</p>
    <button
      class="btn-add"
      [class.added]="isAdding"
      [disabled]="isAdding"
      (click)="$event.stopPropagation(); addToCart()"
    >
      {{ isAdding ? "Adicionado ao carrinho" : "Adicionar ao Carrinho" }}
    </button>
  </div>
</div>
